<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.text_field :password %>

	<%= f.submit "Sign in" %>

	<p>Don't have an account?  <%= link_to "Sign up now", signup_path %></p>
<% end %>