<p>Create a new game </p>
<%= form_for(:game, url: games_path) do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<%= f.label "Choose Opponent" %>
	<%= f.select :user_2, options_from_collection_for_select(@users, :id, :name)%>
	<br />
	<%= f.hidden_field :user_1, :value => @user.id %>
	<%= f.submit "Create new game" %>

<% end %>